.discography {
  margin: 0 auto;
  padding: 40px 0;
}

.discography__block-wrapper {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.discography__block {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.discography__iframe {
  margin: 6px;
  height: 550px;
  width: 500px;
  border: none;
}

.discography__text-wrapper {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 23px;
  list-style-type: none;
}

.discography__song-title {
  margin: 0;
  padding: 0;
}

.discography__lyrics {
  margin: 0;
  padding: 0;
}
