.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header__wrapper-whole {
}

.header__wrapper-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__avatar {
  width: 210px;
  height: 210px;
  margin: 34px 70px 53px 0px;
  object-fit: cover;
  border-radius: 50%;
}

.header__name {
  margin: 0 auto;
  padding: 0 400px 0 0;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 52px;
  font-weight: 100;
  letter-spacing: 32px;
  color: #ffffff;
  line-height: 1;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.header__links {
  margin: 0;
  padding: 0 15px 0 0;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  list-style-type: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  letter-spacing: 3px;
  text-align: center;
}

.header__link {
  color: #ffffff;
  text-decoration: none;

  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 70%;
}

.header__bio-1 {
  margin: 0 0 0 18px;
  padding: 20px 15px 0;
  max-width: 1000px;

  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 23px;
}

.header__bio-2 {
  margin: 0 0 0 18px;
  padding: 20px 15px 40px;
  max-width: 1000px;

  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 23px;
}

@media screen and (max-width: 627px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 288px;
    padding-top: 20px;
  }

  .header__avatar {
    margin: 0 auto 12px;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
  }

  .header__column {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }

  .header__name {
    margin-bottom: 6px;
    max-width: 288px;

    text-align: center;
    font-size: 20px;
  }
}
