.highlights {
  margin: 0 auto;
  padding: 40px 0;
  gap: 10px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.highlights__wrapper-1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.highlights__wrapper-2 {
  margin: 0;
  display: flex;
  flex-direction: column;

  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  letter-spacing: 8px;
  list-style-type: none;
}

.highlights__video {
  margin: 0;
  width: 500px;
  height: 325px;
  border: none;
}

.highlights__text {
  margin: 10px 0;
  width: 75px;
  opacity: 0.75;

  transition: opacity 0.35s linear;
  cursor: pointer;
}

.highlights__text:hover {
  opacity: 0.5;
}

.highlights__coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 520px;
  height: 275px;

  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  letter-spacing: 32px;
  text-align: center;
}

.highlights__coming-soon__title {
  margin: 0 0 20px;
}

.highlights__coming-soon__subtitle {
  margin: 0 auto;

  font-size: 14px;
}
