.highlights {
  margin: 0 auto;
  padding: 40px 0;
  gap: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.highlights__video {
  margin: 0;
  width: 500px;
  height: 325px;
  border: none;
}

.highlights__video__look-up {
}

.highlights__video__kahina {
}

.highlights__video__a-lil-fancy {
}

.highlights__video__erth {
}

.highlights__video__mercury {
}

.highlights__video__new-world {
}

.highlights__video__all-she-wrote {
}

.highlights__video__save-the-children {
}

.highlights__coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 520px;
  height: 275px;

  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  letter-spacing: 32px;
  text-align: center;
}

.highlights__coming-soon__title {
  margin: 0 0 20px;
}

.highlights__coming-soon__subtitle {
  margin: 0 auto;

  font-size: 14px;
}
