.spotify {
  margin: 0 auto;
  padding: 40px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spotify__videos {
}

.spotify__video-item {
}

.spotify__iframe {
  margin: 6px;
  height: 550px;
  width: 500px;
  border: none;
}
