.spotify {
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spotify__videos {
}

.spotify__video-item {
}

.spotify__iframe {
  margin: 6px;
  height: 550px;
  width: 500px;
  border: none;
}
