.spotify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 50px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spotify__videos {
  display: flex;

  gap: 40px;
}

.spotify__video-item {
}

.spotify__iframe {
  margin: 6px;
  height: 550px;
  width: 500px;
  border: none;
}
